{% extends 'base.html' %}
{% load static %}

{% block title %} Blogs {% endblock title %}

{% block body %}      
<div class="Blog-bg">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="Blogheading">
               <h3>Blog </h3>
            </div>
         </div>
      </div>
   </div>
</div>
  
<!-- Blogs --> 
<div class="section layout_padding blog_blue_bg light_silver">
   <div class="container">
      
      <div class="row">
         <div class="col-md-8 offset-md-2">
            <div class="full">
               <div class="big_blog">
                  <img class="img-responsive" src="{{blog.image.url}}" alt="{{blog.title}}" />
               </div>
               <div class="blog_cont_2">
                  <h3>{{blog.title}}</h3>
                  <h5>By:-{{blog.user.username}}</h5>
                  <p class="sublittle"> {{blog.created_at}} </p>
                  <p>{{blog.blogs}}</p>
               </div>
               <a href="{% url 'blog' blogid=blog.id %}"></a>
            </div>
         </div>
      </div>
      <!-- comment section -->
      <br class="row">
         <h2>Comments</h2>
         {% for comment in comments %}
         <div class="comments">
         {% comment %} <h3>{{comment.comment_user.username}}</h3> {% endcomment %}
         <p>{{comment.comment}}</p>
         <h6>{{comment.comment_at}}</h6>
         <p>{{comment.comment_likes.count}}</p>

         </div>
         {% endfor %}

         <!-- Add comment -->
   
          <div class="addcomment">
            <form method="post">
               <textarea name="comment" id="">
               </textarea>
               <button type="submit">
                  Add Comment
               </button>
               {% csrf_token %}
               
            </form>
          </div>
      </div>
   </div>
</div>
<!-- end Blogs -->




{% endblock body %}

