{% extends 'base.html' %}
{% load static %}

{% block title %} Blogs {% endblock title %}

{% block body %}      
<div class="Blog-bg">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="Blogheading">
               <h3>Blog </h3>
            </div>
         </div>
      </div>
   </div>
</div>


{% for blog in blogs %}      
<!-- Blogs --> 
<div class="section layout_padding blog_blue_bg light_silver">
   <div class="container">
      
      <div class="row">
         <div class="col-md-8 offset-md-2">
            <div class="full">
               <div class="big_blog">
                  <img class="img-responsive" src="{{blog.image.url}}" alt="{{blog.title}}" />
               </div>
               <div class="blog_cont_2">
                  <h3>{{blog.title}}</h3>
                  <h5>By:-{{blog.user.username}}</h5>
                  <p class="sublittle"> {{blog.created_at}} </p>
                  <p>{{blog.blogs}}</p>

                  <form action="{% url 'deleteblog' blogid=blog.id %}" method="post">
                     {% csrf_token %}
                     <button type="submit">
                        Delete
                     </button>
                  </form>

               </div>
               <a href="{% url 'blog' blogid=blog.id %}">
                  <button type="submit">View Comments</button>

               </a>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end Blogs -->


{% endfor %}


{% endblock body %}

