{% load static %}
<!-- loader  -->
<!-- <div class="loader_bg">
    <div class="loader"><img src="{% static 'images/loading.gif' %}" alt=""/></div>
 </div> -->
 <!-- end loader -->
<!-- header inner -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 logo_section">
            <div class="full">
                <div class="center-desk">
                <div class="logo"> <a href="index.html"><img src="{% static 'images/logo.png' %}" alt="#"></a> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="menu-area">
                <div class="limit-box">
                <nav class="main-menu">
                    <ul class="menu-area-main text-danger">
                        <li class="active text-danger">
                            <a href="{% url 'home' %}" class="text">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}">About</a>
                        </li>
                        <!-- <li>
                            <a href="marketing.html">Marketing</a>
                        </li> -->
                        <li>
                            <a href="{% url 'blogpage' %}">Blog</a>
                        </li>
                        <li>
                            <a href="{% url 'contact' %}">Contact us</a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="#">Register</a>
                        </li>
                        <li>
                            <a href="#"><img src="{% static 'images/search_icon.png' %}" alt="search" /></a>
                        </li>
                    </ul>
                </nav>
                </div>
            </div>
        </div>
    </div>
</div>